@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@50;100;150;200;250;300;350;400;450;500;550;600;650;700;750;800;850;900;950;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@50;100;150;200;250;300;350;400;450;500;550;600;650;700;750;800;850;900;950;1000&display=swap');

body {
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-kerning: normal;
    font-size: 18px;
    transition: 0.4s;
}


.bg-org-gris {
    background-color: #2E3439;
}

.bg-img-gris {
    background-image: url(../img/banergrisa.png);
    
    height: 500px;
    background-position: center top;
    background-repeat: no-repeat;
}
.bg-img-gris-boletin {
    background-image: url(../img/banernoticiac.png);
    background-size: 100% auto;
    background-position:center;
    background-repeat: no-repeat;
}

.text-org-gris {
    color: #2E3439;
}

.text-org-resposive-6{
    font-size: 1vw;
}
.h1-org-resposive{
    font-size: 2vw;
    font-weight: bold;
}
.h2-org-resposive{
    font-size: 1vw;
}


.section-ogr {
    width: 500px;
    height: 200px;

}
.par-org{
    text-align: justify;
    text-justify: inter-word;
}

.par-org-wrap{
    text-align: justify;
    text-justify: inter-word;
    text-wrap: wrap;
}

.line-org-title{
    border-color: #2E3439;
    border-width: 5px;
}
.line-org-title-light{
    border-color: white;
    border-width: 5px;
}

.btn-org {
    transition-duration: 0.4s;
    background-color: #840A54;
    color: white;
}

.btn-org:hover {
    background-color: #A42F6A;
    color: white;
}

.list-group-org {
    transition-duration: 0.4s;
    background-color: #840A54;
    color: white;
}

.list-group-org:hover {
    background-color: #A42F6A;
    color: white;
}

.bg-gradiente-org {
    background: linear-gradient(#840A54, #A42F6A);
}

.bg-gradiente-org-2 {
    background: linear-gradient(#CD6155, #D98880);
}

.bg-org-gray {
    transition-duration: 0.4s;
    background-color: #F2F3F4;

}