---
const { headings } = Astro.props;
---

<nav class="text-end container my-5">{
    headings.filter(h => h.depth === 1).map(header => (
            <a class="nav-link active" href={`#${header.slug}`}>
                <span>{header.text}</span>
                <i class="bi bi-link-45deg"></i>
            </a>
        )
    )
}</nav>

<style>
</style>