<footer class="text-white d-flex justify-content-center py-4">
    <div class="text-center">
        <img
            class="mb-3"
            src="/img/logochikis.png"
            alt="Logo 3"
            style="width: 300px;"
        />
        <span>&copy; 2024 Boletín Informativo "Buen Gobierno"</span>
        <span>Consejería Secretaría General</span>
        <span>Calle 12b No. 4-38, Bogotá.</span>
        <span>Conmutador: (60) (1) 2842168, 2811845 FAX (57) (1) 2843465.</span>
        <span
            >Correo: consejerogeneral@onic.org.co,
            sistemabuengobierno@onic.org.co</span
        >

        <div class="container">
            <ul>
                <li>
                    <a
                        href="(https://twitter.com/GerardoJumi">
                        <i class="bi bi-twitter-x"></i>
                        <span class="label">Twitter</span></a>
                </li>
                <li>
                    <a
                        href="https://www.instagram.com/gerardojumi?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                        <i class="bi bi-instagram"></i>
                        <span class="label">Instagram</span></a>
                </li>
                <li>
                    <a
                        href="https://www.facebook.com/gerardojumi"><i class="bi bi-facebook"></i><span class="label">Facebook</span></a>
                </li>

            </ul>
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: #2e3439;
    }
    span {
        display: block;
    }
</style>
