<footer class="text-white d-flex justify-content-center py-4">
    <div class="text-center">
        <img class="mb-3" src="/img/logochikis.png" alt="Logo 3" style="width: 400px;">
        <span>&copy; 2024 Boletín Informativo "Buen Gobierno"</span>
        <span>Consejería Secretaría General</span>
        <span>Calle 12b No. 4-38, Bogotá.</span>
        <span>Conmutador: (60) (1) 2842168, 2811845 FAX (57) (1) 2843465.</span>
        <span>Correo: consejerogeneral@onic.org.co, sistemabuengobierno@onic.org.co</span>
    </div>
</footer>

<style>
    footer {
        background-color: #2E3439;
    }
    span {
        display: block;
    }
</style>